$footercolor:#eaeaea;
$backgroundcolorddd:#dddddd;
$registercolor:#c81623;
$fontsix:#666;
$pxthirty:30px;
$fontnine:#999;
$backgrounde3e4:#e3e4e5;
body {
    background: #f6f6f6;
}

.l {
    float: left;
}

.r {
    float: right;
}

.positionabsolute {
    position: absolute;
}

.positionrelative {
    position: relative;
}

.top {
    padding-top: $pxthirty;
}

.meiggin {
    width: 1190px;
    margin: 0 auto;
}

#nav_t {
    height: $pxthirty;
    background: $backgrounde3e4;
    border-bottom: 1px solid $backgroundcolorddd;
    .nav_k {
        span,
        a,
        .ewm {
            color: $fontnine;
            font: 500 12px/30px "";
        }
        a:hover {
            color: $registercolor;
        }
        height: $pxthirty;
        .logo {
            top: 0;
            left: 0;
            width: 190px;
            box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
        }
        .nav_l {
            left: 208px;
        }
        .nav_r {
            right: 0px;
            span {
                margin: 0 10px;
                font: 100 12px/30px "";
                color: #cccccc;
            }
        }
        .register {
            color: #f10215;
        }
        .register:hover {
            color: $registercolor;
        }
    }
}

#seach_all {
    height: 140px;
    #seach_t {
        left: 320px;
        top: 25px;
        width: 550px;
        height: 35px;
        .sch {
            left: 0;
            padding: 4px;
            width: 490px;
            height: 25px;
            border: 1px solid #f10215;
            line-height: 25px;
            font-size: 14px;
        }
        .camera {
            right: 65px;
            top: 10px;
            width: 19px;
            height: 15px;
            overflow: hidden;
            background: url(../images/sprite-photo-search.png) no-repeat 0 0;
        }
        .camera:hover {
            background: url(../images/sprite-photo-search.png) no-repeat -30px 0;
        }
        .seach_btn {
            right: 0;
            width: 50px;
            height: 35px;
            line-height: 35px;
            border: none;
            background-color: #f10215;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            i {
                color: #fff;
                font-size: 20px;
                font-weight: 900;
            }
        }
    }
    .shopping {
        width: 188px;
        height: 33px;
        border: 1px solid $backgrounde3e4;
        background: #fff;
        right: 85px;
        top: 25px;
        text-align: center;
        line-height: 33px;
        i {
            margin-right: 3px;
            font-size: 16px;
            color: #f10214;
        }
        a {
            font: 12px/33px "";
            color: #f10214;
        }
        .shopping_num {
            top: 5px;
            left: 140px;
            display: inline-block;
            padding: 1px;
            font-size: 12px;
            line-height: 12px;
            color: #fff;
            background-color: #f10215;
            -moz-border-radius: 7px;
            border-radius: 7px;
            min-width: 12px;
            text-align: center;
        }
    }
    .recom {
        overflow: hidden;
        left: 320px;
        top: 65px;
        width: 550px;
        height: 20px;
        line-height: 20px;
        .register {
            color: #f10215;
        }
        a {
            margin-right: 5px;
            color: $fontnine;
            font-size: 12px;
        }
        a:hover {
            color: $registercolor;
        }
    }
    .seach_fp {
        right: 0;
        bottom: 10px;
        width: 190px;
        a {
            display: block;
            width: 190px;
            height: 40px;
            background: url(../images/fp.png) center no-repeat;
        }
    }
    .seach_nav {
        overflow: hidden;
        left: 200px;
        bottom: 0;
        width: 790px;
        height: 40px;
        li {
            float: left;
            margin-left: 30px;
            a {
                display: block;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                font-weight: 700;
                color: #555;
            }
            a:hover {
                color: $registercolor;
            }
        }
        i {
            display: block;
            overflow: hidden;
            margin-top: 15px;
            margin-left: 20px;
            margin-right: -10px;
            width: 1px;
            height: 10px;
            background: #ccc;
            float: left;
        }
        img {
            position: absolute;
            top: 0;
            margin-left: 30px;
            width: 30px;
            height: 18px;
        }
    }
}

#nav_b {
    height: 480px;
    background: #204D74;
    margin-bottom: 10px;
    .case {
        width: 190px;
        height: 480px;
        background: #6e6568;
        ul {
            overflow: hidden;
            padding: 16px 0;
            height: 448px;
            background-color: #6e6568;
            color: #fff;
            li {
                overflow: hidden;
                padding-left: 12px;
                height: 28px;
                line-height: 28px;
                outline-width: 700;
                a {
                    color: #fff;
                    font-size: 14px;
                }
                a:hover {
                    color: $registercolor;
                }
            }
        }
    }
    .banner {
        width: 790px;
        height: 100%;
        background: #255625;
        margin: 0 10px;
        .banner_img {
            position: relative;
            margin-bottom: 10px;
            height: 340px;
            ul {
                overflow: hidden;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
    .hi {
        width: 190px;
        height: 100%;
        background-color: #fff;
        .hi_t {
            padding: 0 15px;
            height: 115px;
            border-bottom: 1px solid #e6e6e6;
            .hi_t_t {
                overflow: hiddesn;
                position: relative;
                padding: 15px 0 15px 54px;
                height: 45px;
            }
        }
        .hi_c {
            overflow: hidden;
            padding: 0 15px;
            height: 154px;
        }
        .hi_b {
            overflow: hidden;
            position: relative;
            height: 210px;
            .hi_b_ul {
                overflow: hidden;
                width: 190px;
                ul {
                    margin-left: -1px;
                    width: 192px;
                    height: 210px;
                    overflow: hidden;
                    li {
                        position: relative;
                        overflow: hidden;
                        float: left;
                        width: 47px;
                        height: 69px;
                        border-top: 1px solid #e7e7e7;
                        border-left: 1px solid #e7e7e7;
                        text-align: center;
                        a {
                            display: block;
                            padding-top: 14px;
                            height: 55px;
                            i {
                                display: block;
                                background-image: url(../images/hf.png);
                                background-size: 126px 118px;
                                background-repeat: no-repeat;
                                width: 24px;
                                height: 24px;
                                margin: 0 auto;
                            }
                            span {
                                height: 22px;
                                line-height: 22px;
                                color: $fontsix;
                            }
                        }
                    }
                }
                .hi_huafei {
                    background-position: 0 -68px;
                }
                .hi_jipiao {
                    background-position: 0 -34px;
                }
                .hi_jiudian {
                    background-position: -34px -68px;
                }
                .hi_youxi {
                    background-position: -68px 0;
                }
                .hi_qiye {
                    background-position: -68px -34px;
                }
                .hi_jiayou {
                    background-position: 0 0;
                }
                .hi_dianying {
                    background-position: -34px -34px;
                }
                .hi_huoche {
                    background-position: -68px -68px;
                }
                .hi_zhongchou {
                    background-position: -102px 0;
                }
                .hi_licai {
                    background-position: -102px -34px;
                }
                .hi_liping {
                    background-position: -102px -68px;
                }
                .hi_baitiao {
                    background-position: -34px 0;
                }
            }
        }
    }
    .hi_t_1 {
        overflow: hidden;
        position: absolute;
        margin-left: -54px;
        width: 50px;
        height: 50px;
        img {
            display: block;
            height: 40px;
            margin: 5px;
            -moz-border-radius: 23px;
            border-radius: 23px;
        }
    }
    .hi_t_2 {
        p {
            overflow: hidden;
            margin-top: 4px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            a {
                color: #666;
            }
        }
    }
    .hi_t_b {
        overflow: hidden;
        height: 24px;
        font-size: 0;
        margin-right: -50px;
        a {
            display: inline-block;
            margin-right: 10px;
            width: 70px;
            height: 20px;
            border: 2px solid #e01222;
            line-height: 20px;
            font-size: 12px;
            text-align: center;
            color: #e01222;
        }
    }
    .hi_c_1 {
        padding: 8px 0 4px;
        border-bottom: 1px solid #e6e6e6;
        position: relative;
        line-height: 14px;
        .hi1 {
            padding-left: 0;
            color: #333;
            padding-right: 12px;
            border-right: 1px solid #dfe0e1;
        }
        .hi2 {
            padding-right: 0;
            border-right: 0;
            color: #333;
            padding-left: 12px;
        }
        .xian {
            position: absolute;
            bottom: -1px;
            left: -2px;
            width: 28px;
            height: 2px;
            background: #db192b;
        }
        .hi3 {
            position: absolute;
            right: 0;
            top: 8px;
        }
    }
    .hi_c_2 {
        padding: 12px 0;
        li {
            line-height: 24px;
            width: 160px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $fontsix;
        }
    }
}

#rush {
    margin-bottom: 30px;
    height: 305px;
    background: #fff;
    .rush_time {
        background: url(../images/h.png);
        position: relative;
        padding: 0 20px 0 30px;
        height: 55px;
        line-height: 55px;
        color: #fff;
        .rush_time_l {
            .jiao {
                display: block;
                position: absolute;
                left: -4px;
                top: -4px;
                background-image: url(../images/jiao.png);
                background-position: -118px -80px;
                background-size: 170px 158px;
                background-repeat: no-repeat;
                width: 28px;
                height: 28px;
            }
            .zhong {
                background-image: url(../images/jiao.png);
                background-position: 0 -30px;
                -moz-background-size: 170px 158px;
                background-size: 170px 158px;
                background-repeat: no-repeat;
                width: 34px;
                height: 40px;
                margin-top: 8px;
                margin-right: 8px;
            }
            h3 {
                font-family: fzzhengheis-el-gbregular;
                font-size: 26px;
                font-weight: 400;
                line-height: 40px;
                height: 40px;
                padding-top: 9px;
                display: block;
            }
            a {
                margin-left: 12px;
                position: relative;
                float: right;
                margin-top: 19px;
                padding-right: 20px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                color: #fff;
                .xiaozhong {
                    background-image: url(../images/jiao.png);
                    background-position: -76px -130px;
                    background-size: 170px 158px;
                    background-repeat: no-repeat;
                    width: 15px;
                    height: 16px;
                    position: absolute;
                    right: 0;
                    top: 4px;
                }
            }
        }
        .rush_time_r {
            .rush_span1 {
                float: left;
                line-height: 45px;
                padding-top: 10px;
                font-size: 14px;
            }
            .rush_time_time {
                margin: 0 8px 0 6px;
                .clock_l {
                    float: left;
                    width: 35px;
                    height: 37px;
                    background-color: #440106;
                    color: #f90013;
                    font-size: 24px;
                    font-family: Arial;
                    font-weight: 700;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 37px;
                    margin-top: 10px;
                    span {
                        text-align: center;
                        line-height: 37px;
                        color: #f90013;
                        font-size: 24px;
                        font-family: Arial;
                        font-weight: 700;
                    }
                }
                .dopp_l {
                    float: left;
                    margin: 22px 4px 0;
                    width: 4px;
                    height: 12px;
                    font-size: 0;
                    line-height: 0;
                    .dopp_l1 {
                        margin-bottom: 4px;
                        display: block;
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        background-color: #440106;
                    }
                    .dopp_l2 {
                        display: block;
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        background-color: #440106;
                    }
                }
                .clock_c {
                    float: left;
                    width: 35px;
                    height: 37px;
                    background-color: #440106;
                    color: #f90013;
                    font-size: 24px;
                    font-family: Arial;
                    font-weight: 700;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 37px;
                    margin-top: 10px;
                    span {
                        color: #f90013;
                        font-size: 24px;
                        font-family: Arial;
                        font-weight: 700;
                        text-align: center;
                        line-height: 37px;
                    }
                }
                .dopp_c{
                    float: left;
                    margin: 22px 4px 0;
                    width: 4px;
                    height: 12px;
                    font-size: 0;
                    line-height: 0;
                    .dopp_c1{
                        margin-bottom: 4px;
                        display: block;
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        background-color: #440106;
                    }
                    .dopp_c2{
                        display: block;
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        background-color: #440106;
                    }
                }
                .clock_r{
                    float: left;
                    width: 35px;
                    height: 37px;
                    background-color: #440106;
                    color: #f90013;
                    font-size: 24px;
                    font-family: Arial;
                    font-weight: 700;
                    border-radius: 3px;
                    text-align: center;
                    line-height: 37px;
                    margin-top: 10px;
                    span{
                        color: #f90013;
                        font-size: 24px;
                        font-family: Arial;
                        font-weight: 700;
                        text-align: center;
                        line-height: 37px;
                    }
                }
                
            }
            .rush_span2 {
                    float: left;
                    line-height: 45px;
                    padding-top: 10px;
                    font-size: 14px;
                }
        }
    }
}
#guide{
    height: 444px;
    margin-bottom: 30px;
    .guide_stuff{
        width: 390px;
        height: 444px;
        float: left;
        overflow: hidden;
        .guide_stuff_t{
            background: #4998a1;
            background-image: linear-gradient(90deg,#4998a1,#2e828b);
            position: relative;
            padding: 0 20px 0 30px;
            height: 55px;
            line-height: 55px;
            color: #fff;
        }
        .guide_stuff_b{
            padding: 10px;
            height: 369px;
            background-color: #fff;
        }
    }
    .guide_special{
        margin-right: 10px;
        width: 390px;
        height: 444px;
        float: left;
        overflow: hidden;
        .guide_special_t{
            background: #76488e;
            background-image: linear-gradient(90deg,#76488e,#662d72);
            position: relative;
            padding: 0 20px 0 30px;
            height: 55px;
            line-height: 55px;
            color: #fff;
        }
        .guide_special_b{
            position: relative;
            width: 390px;
            height: 389px;
            background-color: #fff;
        }
    }
    .guide_list{
        width: 390px;
        height: 444px;
        float: left;
        overflow: hidden;
        .guide_list_t{
            background: #e77005;
            background-image: linear-gradient(90deg,#e77005,#e45d04);
            position: relative;
            padding: 0 20px 0 30px;
            height: 55px;
            line-height: 55px;
            color: #fff;
        }
        .guide_list_b{
            height: 389px;
            background-color: #fff;
        }
    }
}
#neck{
    height: 270px;
    margin-bottom: 30px;
    .neck_l{
        float: left;
        width: 790px;
        height: 270px;
        background: #fff;
        overflow: hidden;
    }
    .neck_r{
            float: right;
        width: 390px;
        height: 270px;
        background: #fff;
        overflow: hidden;
    }
}
#foodpeople{
    margin-bottom: 30px;
    height: 100px;
    background-color: #e0e0e0;
}
#character{
        height: 585px;
        margin-bottom: 30px;
        .ftch{
            overflow: hidden;
            padding: 0 0 20px;
            height: 35px;
            background: url(../images/dian.png) repeat-x 0 18px;
            text-align: center;
            font-size: 24px;
            line-height: 35px;
            h3{
                display: inline;
                padding: 0 50px;
                background-color: #f6f6f6;
                font-weight: 400;
                font-size: 26px;
                color: #333;
                font-family: fzzhengheis-el-gbregular;
            }
        }
        .chmina{
            ul{
                height: 530px;
                overflow: hidden;
                margin-left: -10px;
                width: 1200px;
                .chmina_item{
                    width: 390px;
                    height: 170px;
                    overflow: hidden;
                    position: relative;
                    float: left;
                    margin: 0 5px 10px;
                    background-color: #fff;
                }
                .chulmp4{
                    float: right;
                    height: 350px;
                    color: #fff;
                    font-size: 12px;
                    width: 390px;
                    overflow: hidden;
                    margin: 0 5px 10px;
                    background-color: #fff;
                    position: relative;
                }
                .chmina_item_7,.chmina_item_8{
                    width: 190px;
                    height: 170px;
                }
            }
        }
}
#footer {
    height: 570px;
    background: $footercolor;
    a {
        font: 12px/21px "";
        color: $fontsix;
    }
    a:hover {
        color: $registercolor;
    }
    .dkhs {
        padding: 0 55px 0 36px;
        span {
            font: 700 18px/42px "";
            color: #000;
        }
        .dkhs_font {
            margin-right: 89px;
            h6 {
                display: block;
                width: 36px;
                height: 42px;
                margin-right: 10px;
            }
            .dkhs_background_1 {
                background: url(../images/dkhs.png) no-repeat 0 0;
                background-size: 36px 171px;
            }
            .dkhs_background_2 {
                background: url(../images/dkhs.png) no-repeat 0 -43px;
                background-size: 36px 171px;
            }
            .dkhs_background_3 {
                background: url(../images/dkhs.png) no-repeat 0 -86px;
                background-size: 36px 171px;
            }
            .dkhs_background_4 {
                background: url(../images/dkhs.png) no-repeat 0 -129px;
                background-size: 36px 171px;
            }
        }
        .dkhs_last {
            margin-right: 0;
        }
    }
    hr {
        background: $backgroundcolorddd;
        margin-top: $pxthirty;
        height: 1px;
        border: none;
    }
    .guide {
        margin-top: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid $backgroundcolorddd;
        h5 {
            font: 14px/30px "";
            font-weight: bold;
            color: $fontsix;
        }
        .guide_l {
            .floatleft_1 {
                margin-right: 140px;
            }
            .floatleft_2 {
                margin-right: 110px;
            }
            .floatleft_3 {
                margin-right: 142px;
            }
            .floatleft_4 {
                margin-right: 130px;
            }
            .floatleft_5 {
                margin-right: 142px;
            }
        }
        .guide_r {
            background: url(../images/map.png) no-repeat 0 0;
            h5 {
                text-align: center;
            }
            a {
                float: right;
            }
            width:200px;
            height:150px;
        }
    }
    .partner {
        span {
            margin: 0 3px;
        }
        margin-top: 15px;
        text-align: center;
        .partner_c {
            margin-top: 5px;
            font: 12px/22px "";
            color: #999;
            a {
                font: 12px/22px "";
                color: #999;
            }
        }
        .partner_b {
            width: 657px;
            height: 44px;
            margin: 20px auto;
            a {
                display: block;
                width: 103px;
                height: 32px;
                margin: 0 2px;
            }
            .partner_b_a_1 {
                background: url(../images/map.png) no-repeat 0px -151px;
            }
            .partner_b_a_2 {
                background: url(../images/map.png) no-repeat -105px -151px;
            }
            .partner_b_a_3 {
                background: url(../images/map.png) no-repeat 0px -183px;
            }
            .partner_b_a_4 {
                background: url(../images/map.png) no-repeat -105px -183px;
            }
            .partner_b_a_5 {
                background: url(../images/map.png) no-repeat 0px -217px;
            }
            .partner_b_a_6 {
                background: url(../images/map.png) no-repeat -105px -151px;
            }
        }
    }
}
